<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mar.bean.mapper.ShopMapper">

    <select id="getShopCartListByPhone" resultType="com.mar.bean.dao.ShopCartDAO">
        select * from shop_cart where 1=1
        <trim suffixOverrides=",">
            and user_id = #{userId}
        </trim>
    </select>
    <select id="getShopCartListByChecked" resultType="com.mar.bean.dao.ShopCartDAO">
        select * from shop_cart where 1=1
        <trim prefixOverrides="and" suffixOverrides=",">
            and is_checked = #{isChecked}
        </trim>
    </select>
</mapper>