<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mar.bean.mapper.AttrMapper">

    <resultMap id="BaseResultMap" type="com.mar.bean.dao.Attr">
            <id property="attrId" column="attrId" jdbcType="BIGINT"/>
            <result property="attrName" column="attrName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        attrId,attrName
    </sql>
</mapper>
